<p id="notice"></p>
<div class="container px-5 px-sm-0">
  <div class="row">
<% @books.each do |book| %>
  <div>
    <p>Title：<%= book.title %></p>
    <p>Opinion：<%= book.body %></p>
  </div>
<% end %>
